/* introduccion a la sintaxis de css */

/*

Formas de asignar reglas de estilo
1. Tipo de elemento

a{
    el conjunto de reglas de estilo que aplican a ese tipo de etiqueta
    font-size: 20px;
    Tipo de regla: valor de la regla;
}

2. id nombre de variable 
    <div id="contenedor">
        ...
    </div>

#contenendor{
    background-color: #ff78ba;
    width: 90%;
}

3. Asignacion por clase -> regla reutilizable definida por una palabra

.estilo-caja{
    display:block;
    margin: 0 auto; -> centrado en la pantalla (horizontal)
    width: 10em;
}

<div class="estilo-caja borde-bonito texto-grande">
</div>

*/

input[type=submit]{
    background-color: crimson;
    color: white;
    padding: 5px;
}

/* id */
#contenedor-login{
    width: 280px;
    margin: 0 auto;
    border: 2px solid orange;
    border-radius: 5px;
}

/* reutilizable class */
.campos-texto{
    background-color: orange;
    border: 0px;
    color: white;
}

.espacio-label{
    padding-right: 30px;
}