<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1 | instancia vue databinding</title>
</head>
<body>
    <main>
        <!-- DataBinding -->
        <h1>{{ mensaje }}</h1>
        <input type="text" v-model="mensaje">
        <!-- el texto que escriba en este input, se refleje automaticamente 
        en la etiqueta de titulo h1-->
        <pre> {{ $data }} </pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>