<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>03 | Render de listas</title>
</head>

<body>
    <main>
        <!--<p>{{ laborales }}</p>-->
        <!-- Recorrer un arreglo simple -->
        <!--<ol type="I">
            <li v-for="dia in laborales">
                {{ dia }}
            </li>
        </ol>-->

        <!-- recorrer un arreglo de objetos -->
        <!--<ul>
            <li v-for="(tarea, index) in tareas">
                {{ index + 1 }} {{ tarea.nombre }} <small>({{ tarea.prioridad }})</small>
            </li>
        </ul>-->

        <!-- Renderizar un objeto (K,V)-->
        <ul>
            <li v-for="(value, key, index) in persona">
                {{ index }} - {{ key }}: {{ value }}
            </li>
        </ul>

        <pre>{{ $data }}</pre>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>